<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyangit.mapper.QueueConsumptionFailureMapper">
	<resultMap id="defaultResultMap" type="com.liyangit.entity.QueueConsumptionFailureEntity">
		<id column="message_id" property="messageId" jdbcType="VARCHAR"/>
		<result column="message" property="message" jdbcType="VARCHAR"/>
		<result column="queue_name" property="queueName" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="queryConsumptionFailureList" resultMap="defaultResultMap" parameterType="java.lang.String">
		SELECT
			message_id,
			message
		FROM
			`t_queue_consumption_failure`
		WHERE
			queue_name = #{queueName}
			AND `status` = 0
	</select>
</mapper>
